:root {
  --popup-width: 800px;
  --popup-height: 600px;
}

body {
  width: var(--popup-width);
  height: var(--popup-height);
  margin: 0;
  background: var(--in-content-page-background);
  color: var(--in-content-page-color);
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.panel-section-header {
  padding: 4px 16px 16px;
  border-bottom: 1px solid var(--in-content-border-color);
}

.panel-section-header h1 {
  font-size: 1.385em;
  font-weight: normal;
  margin: 0;
  color: var(--in-content-text-color);
}

.panel-section-content {
  flex-grow: 1;
  padding: 16px;
  overflow: auto;
}

#content {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 8px;
  border: 1px solid var(--in-content-border-color);
  border-radius: 2px;
  background: var(--in-content-box-background);
  color: var(--in-content-text-color);
  font-family: Menlo, Consolas, monospace;
  line-height: 1.4;
}

.panel-section-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  border-top: 1px solid var(--in-content-border-color);
}

button {
  min-width: 132px;
  height: 32px;
  padding: 0 8px;
  font-size: 13px;
  border-radius: 2px;
  color: var(--in-content-button-text-color);
  background-color: var(--in-content-button-background);
  border: 1px solid var(--in-content-button-border-color);
}

button:hover {
  background-color: var(--in-content-button-background-hover);
}

button:active {
  background-color: var(--in-content-button-background-active);
}

button.primary {
  background-color: var(--in-content-primary-button-background);
  border-color: var(--in-content-primary-button-background);
  color: var(--in-content-selected-text);
}

button.primary:hover {
  background-color: var(--in-content-primary-button-background-hover);
}

button.primary:active {
  background-color: var(--in-content-primary-button-background-active);
}

button:focus {
  box-shadow: 0 0 0 1px var(--in-content-border-focus);
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--in-content-border-color) transparent;
}
