body {
  background: var(--in-content-page-background);
  color: var(--in-content-page-color);
  margin: 0;
}

div.panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  overflow: hidden;
}

div.panel-header {
  align-items: center;
  border-bottom: 1px solid var(--in-content-border-color);
  display: flex;
  justify-content: space-between;
  padding: 4px 16px 16px;
}

div.panel-header h1 {
  color: var(--in-content-text-color);
  font-size: 1.385em;
  font-weight: normal;
  margin: 0;
}

div.panel-body {
  overflow-x: scroll;
}

div.panel-body div.section {
  padding: 16px;
}

div.panel-footer {
  border-top: 1px solid var(--in-content-border-color);
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 16px;
}

button {
  background-color: var(--in-content-button-background);
  border-radius: 2px;
  border: 1px solid var(--in-content-button-border-color);
  color: var(--in-content-button-text-color);
  font-size: 13px;
  height: 32px;
  min-width: 132px;
  padding: 0 8px;
}

button:hover {
  background-color: var(--in-content-button-background-hover);
}

button:active {
  background-color: var(--in-content-button-background-active);
}

button.primary {
  background-color: var(--in-content-primary-button-background);
  border-color: var(--in-content-primary-button-background);
  color: var(--in-content-selected-text);
}

button.primary:hover {
  background-color: var(--in-content-primary-button-background-hover);
}

button.primary:active {
  background-color: var(--in-content-primary-button-background-active);
}

button:focus {
  box-shadow: 0 0 0 1px var(--in-content-border-focus);
}

/* Toast notification */
@keyframes enter {
  from {
    opacity: 0.5;
    transform: translateY(-0.2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

[role="alert"] > * {
  animation: enter 0.3s ease;
  background: rgba(255, 0, 0, 0.05);
  padding: 1rem;
  width: 100%;
}

/* Firefox scrollbar styling */
* {
  scrollbar-color: var(--in-content-border-color) transparent;
  scrollbar-width: thin;
}
